.border{
  border: 2px solid red;
  margin: 3px;
}

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.items-center{
  align-items: center;
}

.bg-black{
  background-color: black;
  color: white;
}

.bg-gray{
  background-color: #121212;
}

.invert{
  filter: invert(1);
}

.rounded{
  border-radius: 7px;
}

.m-1{
  margin: 5px;
}

.p-1{
  padding: 14px;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Color of the track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #444; /* Color of the scrollbar thumb */
  border-radius: 10px;
  border: 3px solid #1e1e1e; /* Creates padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #444 #1e1e1e;
}

/* For Internet Explorer and Edge */
body {
  -ms-overflow-style: scrollbar; 
}

body::-ms-scrollbar {
  width: 12px;
}

body::-ms-scrollbar-track {
  background: #1e1e1e;
  border-radius: 10px;
}

body::-ms-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
  border: 3px solid #1e1e1e;
}

body::-ms-scrollbar-thumb:hover {
  background: #555;
}
